/*#region Stylesheet Rules */

/* Stylesheet rule */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML rule */
html {
    /* Rules to centerize body */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Full Height of my HTML file */
    height: 100vh;
}

/* Body Rule */
body {
    max-width: 1440px;
    width: 100%;
    /* Checked design height (desktop-design.jpg) on ​​Figma  */
    height: 800px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* This class is one of my utilities to check the position of objects and elements */
.bordo {
    border: 2px solid black;
}

/*#endregion */

/*#region Root Elements */

/* Color palette  */
:root {
    --Grayish_blue : hsl(237, 18%, 59%);
    --Soft_red : hsl(345, 95%, 68%);
    --White: hsl(0, 0%, 100%);
    --Dark_desaturated_blue: hsl(236, 21%, 26%);
    --Very_dark_blue:hsl(235, 16%, 14%);
    --Mostly_black_blue: hsl(234, 17%, 12%);
}

/* Import of my Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

/* Font Size and Font family */
:root {
    --font-family: 'Red Hat Text', sans-serif;
    --font-weight: 700;
    --launching-soon-size: 22px; /* Main title size (We're launching..) */
    --launching-soon-space: 5px; /* Space Between letters */
    --launching-soon-word-space:5px; /* Space between words */
    --countdown-size:78px; /* Countdown numbers (08 etc..) */
    --countdown-text:14px; /* Days, hours etc */
    --countdown-text-space:6px; /* Letter Spacing */
}
/*#endregion */

/*#region Container rules */

body .container {
    width: 100%;
    height: 100%;
    background-image: url('./../images/bg-stars.svg'), url('./../images/pattern-hills.svg');
    background-position: center top, center bottom;
    background-repeat: no-repeat, no-repeat;
    /* background-color: linear-gradient(to bottom, #241E2C 50%, #1E1E28 0% ); */
    background-color: #231D2B;
}

/*#endregion */

/*#region Main Title */

.main_title {
    color: var(--White);
    font-family: var(--font-family);
    font-size: var(--launching-soon-size);
    word-spacing: var(--launching-soon-word-space);
    letter-spacing: var(--launching-soon-space);
    text-transform: uppercase;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 110px;
}

/*#endregion */

/*#region Countdown Rules */

/* This is my countdown div wrapper */
.countdown,
.periods{
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 30px;
}

/* These are my Countdown boxes */
.countdown div {
    /* Style Properties */
    width: 148px;
    height: 140px;
    border-radius: 8px;
    box-shadow: 0px 9px 0px #1A1A23;
    background: linear-gradient(to top, #34364F 50%, #2C2C44 0%);
    /* Align Properties */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Font Properties */
    font-family: var(--font-family);
    font-size: var(--countdown-size);
    color: var(--Soft_red);
}

/* These are the little boxes in my div */
div .left,
div .right {
    /* Position */
    position: absolute;
    top: 0%;
    transform: translateY(65px);   
    /* Style */
    width: 6px;
    height: 10px;
    background-color: #1E1E2A;
}
div .left {
    left: 0%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
div .right {
    right: 0%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

/* 
.countdown div:nth-last-child(1) {
    animation-fill-mode: forwards;
    animation-name: flippingSeconds;
    animation-delay:60s;
    animation-duration: 1s; 
}

@keyframes flippingSeconds {
    to {
        transform: rotateX(360deg);          
    }
}  
*/

/*#endregion */

/*#region Periods */

/* This is my periods container (Hours, minutes etc..) */
.periods {
    padding-top: 30px;
}

/* These are my single period of time */
.periods p {
    font-family: var(--font-family);
    font-size: var(--countdown-text);
    letter-spacing: var(--countdown-text-space);
    text-transform: uppercase;
    width: 148px;
    text-align: center;
    color: var(--Grayish_blue);
}

/*#endregion */

/*#region Icons */
.icons {
    margin-top: 240px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 32px;
    padding: 0;
}

.single_icon {
    width: 24px;
    height: 24px;
}

/*#endregion */


/*#region Media Queries */
@media screen and (max-width: 375px) {
    /*#region stylesheet rules  */
    *,
    *::before,
    *::after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        display: flex;
        justify-content: center;
    }
    
    body {
        max-width: 375px;
        width: 100%;
        margin: 0 auto;
    }
    /*#endregion  */
}
/*#endregion  */